<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.assp.modules.commondata.mapper.PictureAlbumRelTypeMapper" >
  
  <select id="addBatch"  parameterType="List" >
		 insert into wms_picture_album_rel_type  
          (  
            album_type_id,album_id  
          )  
          VALUES  
          <foreach collection="list" item="obj" index="index" separator="," >  
          (  
            #{obj.albumTypeId},#{obj.albumId}  
          )  
          </foreach>  
	</select>
</mapper>