<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.assp.modules.exception.mapper.ExceptionLogMapper">
    <insert id="insertExceptionLog" parameterType="com.assp.modules.exception.entity.ExceptionLog">
        INSERT INTO exception_log (
			system_code,
			occured_time,
			stack_trace,
			source,
			hints,
			remark)
		VALUES (
			#{systemCode},
			#{occuredTime},
			#{stackTrace},
			#{source},
			#{hints},
			#{remark})
		<selectKey resultType="int" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
    </insert>
</mapper>