<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.assp.modules.template.mapper.TemplateColumnsRelFrameMapper">
    
     <insert id="insertGetprimaryKey" parameterType="com.assp.modules.template.entity.TemplateColumnsRelFrame"  >
   	INSERT INTO wms_template_columns_rel_frame (
		columns_id,
		columns_rel_frame_pid,
		frame_id,
		sort_num,
		css_class,
		rel_status
	)
	VALUES
		(
			#{columnsId},
			#{columnsRelFramePid},
			#{frameId},
			#{sortNum},
			#{cssClass},
			#{relStatus}
			
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="columnsRelFrameId">
			SELECT LAST_INSERT_ID() AS columnsRelFrameId
		</selectKey>
	</insert>
    
    <!-- 查询当前模板最大的排序号 -->
    <select id="querySortNumMaxObj" resultType="com.assp.modules.template.entity.TemplateColumnsRelFrame" parameterType="java.lang.Integer">
         SELECT 
         	columns_rel_frame_id as columnsRelFrameId,
	        columns_id as columnsId,
			columns_rel_frame_pid as columnsRelFramePid,
			frame_id as frameId,
			sort_num as sortNum,
			css_class as cssClass,
			rel_status as relStatus
         FROM wms_template_columns_rel_frame 
         WHERE
         	rel_status = 0
         <if test="value != null">
		    AND columns_id = #{value}
		 </if>
		   order by sort_num DESC
		   LIMIT 1
    </select>
    
</mapper>